@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";

.navbar-container {
  width: 100%;
  padding: 1.6rem;

  @media (max-width: 600px) {
    display: none;
  }
  .navbar {
    ul {
      @include center;
      list-style: none;
      li {
        font-size: 2rem;
        margin: 0 1.25rem;
        transition: all 0.2s ease;

        a {
          text-decoration: none;
          color: $color-white;

          &:hover {
            color: $color-primary;
          }
          &:active {
            color: $color-primary-dark;
          }
          
        }
        &:hover {
          color: $color-primary;
          box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
          transform: rotate(5deg) scale(1.3);
        }
      }
    }
  }
}
