// html, body {
//     margin: 0;
//     padding: 0;
//     font-family: Helvetica, sans-serif;
//   }

  section#journey {
    width: 80%;
    margin: 10rem auto;
    position: relative;
  }
  section#journey:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: .2rem;
    height: 100%;
    background: rgba(255,255,255,0.2);
  }
  section#journey article {
    width: 100%;
    margin: 0 0 2rem 0;
    position: relative;
  }
  section#journey article:after {
    content: '';
    display: block;
    clear: both;
  }
  section#journey article div.inner {
    width: 40%;
    float: left;
    margin: .5rem 0 0 0;
    border-radius: 6px;
  }
  section#journey article div.inner span.date {
    display: block;
    width: 6rem;
    height: 5rem;
    padding: .5rem 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -3.2rem;
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    background: #25303B;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 .7rem #25303B;
  }
  section#journey article div.inner span.date span {
    display: block;
    text-align: center;
  }
  section#journey article div.inner span.date span.day {
    font-size: 1rem;
  }
  section#journey article div.inner span.date span.month {
    font-size: 1.8rem;
  }
  section#journey article div.inner span.date span.year {
    font-size: 1rem;
  }
  section#journey article div.inner h2 {
    padding: 1.5rem;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
  }
  section#journey article div.inner h2:after {
    content: '';
    position: absolute;
    top: 2rem;
    right: -.5rem;
        width: 1rem; 
        height: 1rem;
    -webkit-transform: rotate(-45deg);
  }
  section#journey article div.inner p {
    padding: 1.5rem;
    margin: 0;
    font-size: 1.4rem;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
  }
  section#journey article:nth-child(2n+2) div.inner {
    float: right;
  }
  section#journey article:nth-child(2n+2) div.inner h2:after {
    left: -.5rem;
  }
  section#journey article:nth-child(1) div.inner h2 {
    background: #e74c3c;
  }
  section#journey article:nth-child(1) div.inner h2:after {
    background: #e74c3c;
  }
  section#journey article:nth-child(2) div.inner h2 {
    background: #2ecc71;
  }
  section#journey article:nth-child(2) div.inner h2:after {
    background: #2ecc71;
  }
  section#journey article:nth-child(3) div.inner h2 {
    background: #e67e22;
  }
  section#journey article:nth-child(3) div.inner h2:after {
    background: #e67e22;
  }
  section#journey article:nth-child(4) div.inner h2 {
    background: #1abc9c;
  }
  section#journey article:nth-child(4) div.inner h2:after {
    background: #1abc9c;
  }
  section#journey article:nth-child(5) div.inner h2 {
    background: #9b59b6;
  }
  section#journey article:nth-child(5) div.inner h2:after {
    background: #9b59b6;
  }