*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #070707, #181818), repeating-radial-gradient(circle at center center, #464646, #464646, 15px, transparent 30px, transparent 15px);
    background-blend-mode: multiply;
    font-family:Arial, Helvetica, sans-serif;
}